In [8]:
s=[(1,28,'abc','klu'),
  (1,29,'abc','klu'),
  (1,30,'abc','klu'),
  (1,31,'abc','klu')]
import pandas as pd;
c=pd.DataFrame(s,columns=['id','age','name','clg'])
print(c)

   id  age name  clg
0   1   28  abc  klu
1   1   29  abc  klu
2   1   30  abc  klu
3   1   31  abc  klu

In [9]:
s={'name':['abc','bca','cab'],
   'age':[28,29,30],
   'id':[1,2,3],
}
import pandas as pd;
c=pd.DataFrame(s);
print(c);

  name  age  id
0  abc   28   1
1  bca   29   2
2  cab   30   3

In [29]:
s=[(1,28,'abc','klu'),
  (1,29,'abc','srm'),
  (1,30,'abc','vit'),
  (1,31,'abc','iit')]
import pandas as pd;
c=pd.DataFrame(s,columns=['id','age','name','clg'])
a=c.iloc[:,:-1].values;
b=c.iloc[:,2:3].values;
x=c.iloc[1,:].values;
y=c.iloc[1,:2].values;
z=c.iloc[:,3];
print(a);
print(x);
print(y);
print(z);

[[1 28 'abc']
 [1 29 'abc']
 [1 30 'abc']
 [1 31 'abc']]
[1 29 'abc' 'srm']
[1 29]
0    klu
1    srm
2    vit
3    iit
Name: clg, dtype: object

In [32]:
s=[(1,28,'abc','klu'),
  (1,29,'abc','srm'),
  (1,30,'abc','vit'),
  (1,31,'abc','iit')]
import pandas as pd;
c=pd.DataFrame(s,columns=['id','age','name','clg'])
d=c['age'].mean()
e=c.describe()
f=c[c['age']>=30]
print(d)
print(e)
print(f)

29.5
        id        age
count  4.0   4.000000
mean   1.0  29.500000
std    0.0   1.290994
min    1.0  28.000000
25%    1.0  28.750000
50%    1.0  29.500000
75%    1.0  30.250000
max    1.0  31.000000
   id  age name  clg
2   1   30  abc  vit
3   1   31  abc  iit

In [49]:
#running .csv using pandas
import pandas as pd
c=pd.read_csv('Data.csv')
d=pd.DataFrame(c);
a=d.iloc[:,2:];
print(a)
e=c.isna()
print(e)

    Salary Purchased
0  72000.0        No
1  48000.0       Yes
2  54000.0        No
3  61000.0        No
4      NaN       Yes
5  58000.0       Yes
6  52000.0        No
7  79000.0       Yes
8  83000.0       NaN
9  67000.0       Yes
   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False       True
9    False  False   False      False