In [4]:
#pandas
#panel data analysis
#1d=>Seriesobject
#2d=>dataframe
import pandas as pd

In [5]:
data=[1,2,3,4,'s']
s1=pd.Series(data)
s1[0:3]

0    1
1    2
2    3
dtype: object

In [6]:
type(s1)

pandas.core.series.Series

In [7]:
#changing index names
s1=pd.Series([1,2,'c',4],index=['a','b',1,'d'])
s1['a':'d']

a    1
b    2
1    c
d    4
dtype: object

In [8]:
#dictionary,array,scalar

In [9]:
#2d=>dataframe 
#colums can be of different datatypes
#axis=0=>columns
#axis=1=>rows
#array to df
data1=[[1,2,3,4],[1,2,3]]
df=pd.DataFrame(data1)
df

   0  1  2    3
0  1  2  3  4.0
1  1  2  3  NaN

In [10]:
#creating a df from a dictionary
data2={'a':[1,2,3,4],'b':[2,3,4,5]}
df=pd.DataFrame(data2)
df

   a  b
0  1  2
1  2  3
2  3  4
3  4  5

In [11]:
dict1={'fruit':['apple','banana','mango'],'count':[2,10,15]}
df=pd.DataFrame(dict1)
df

    fruit  count
0   apple      2
1  banana     10
2   mango     15

In [12]:
#series to df=>1d=>2d
data=pd.Series([6,12],index=['a','b'])
df=pd.DataFrame(data)
df

    0
a   6
b  12

In [13]:
#numpy to df
import numpy as np
data=np.array([['a','b'],[6,12]])
df=pd.DataFrame({'A':data[:,0],'B':data[:,1]})
df

   A   B
0  a   b
1  6  12

In [14]:
#Data Preprocessing
#0.importing dataset
cars=pd.read_csv(r"mtcars.csv")
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,NaN,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [15]:
#converting mpg datatype from float to str
cars.mpg=cars.mpg.astype(str)

In [16]:
#1.Analysis
type(cars)
cars.head()
cars.head(12)
cars.tail()
cars.tail(8)
cars.shape
#print concise summary of dataset
cars.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No        32 non-null     int64
 1   Unnamed: 1  32 non-null     object
 2   mpg         32 non-null     object
 3   cyl         32 non-null     int64
 4   disp        32 non-null     float64
 5   hp          32 non-null     int64
 6   drat        31 non-null     float64
 7   wt          32 non-null     float64
 8   qsec        32 non-null     float64
 9   vs          32 non-null     int64
 10  am          32 non-null     int64
 11  gear        32 non-null     int64
 12  carb        32 non-null     int64
dtypes: float64(4), int64(7), object(2)
memory usage: 3.4+ KB

In [17]:
#methods in analysing process
cars.mean()
cars.median()
cars.std()
cars.count()
#print descriptive statistics summary
cars.describe()

,S.No,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,31.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,6.187500,230.721875,146.687500,3.590968,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,9.380832,1.785922,123.938694,68.562868,0.542564,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,1.000000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,16.500000,6.000000,196.300000,123.000000,3.690000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,32.000000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [18]:
#2.cleaning
#rename column
cars=cars.rename(columns={'Unnamed: 1':'model'})
#fill null values/Nan with mean()
cars.drat=cars.drat.fillna(cars.drat.mean())
#remove serial.Number column
cars=cars.drop(columns=['S.No'])
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.900000,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.900000,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.850000,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.080000,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.150000,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.760000,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.210000,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.690000,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.920000,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.920000,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.920000,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.070000,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.070000,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.070000,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.930000,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.000000,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.230000,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.080000,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.930000,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.220000,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.700000,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.760000,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.150000,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.730000,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.080000,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.080000,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.430000,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.590968,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.220000,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.620000,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.540000,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.110000,2.780,18.60,1,1,4,2

In [19]:
#find correlation matrix
df=cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
#change back mpg from str to float
cars.mpg=cars.mpg.astype(float)
#cars.info(null_counts=True)
df

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,1.000000,0.902033,0.832447,-0.687914,0.782496,-0.591242,-0.810812,-0.522607,-0.492687,0.526988
disp,0.902033,1.000000,0.790949,-0.699621,0.887980,-0.433698,-0.710416,-0.591227,-0.555569,0.394977
hp,0.832447,0.790949,1.000000,-0.444231,0.658748,-0.708223,-0.723097,-0.243204,-0.125704,0.749812
drat,-0.687914,-0.699621,-0.444231,1.000000,-0.694846,0.097110,0.428976,0.701088,0.681590,-0.085506
wt,0.782496,0.887980,0.658748,-0.694846,1.000000,-0.174716,-0.554916,-0.692495,-0.583287,0.427606
qsec,-0.591242,-0.433698,-0.708223,0.097110,-0.174716,1.000000,0.744535,-0.229861,-0.212682,-0.656249
vs,-0.810812,-0.710416,-0.723097,0.428976,-0.554916,0.744535,1.000000,0.168345,0.206023,-0.569607
am,-0.522607,-0.591227,-0.243204,0.701088,-0.692495,-0.229861,0.168345,1.000000,0.794059,0.057534
gear,-0.492687,-0.555569,-0.125704,0.681590,-0.583287,-0.212682,0.206023,0.794059,1.000000,0.274073
carb,0.526988,0.394977,0.749812,-0.085506,0.427606,-0.656249,-0.569607,0.057534,0.274073,1.000000

In [20]:
#3.Manipulation
#3.1.indexing by position

#view hp column only
cars.iloc[:,4]
#first five records of hp column
cars.iloc[:5,4]
#all rows,columns
cars.iloc[:,:]
#for displaying attributes from hp to carb & records from index 6
cars.iloc[6:,4:]
#display all rows and first column
cars.iloc[:,1]
#display all columns and first row
cars.iloc[1,:]

model    Mazda RX4 Wag
mpg                 21
cyl                  6
disp               160
hp                 110
drat               3.9
wt               2.875
qsec             17.02
vs                   0
am                   1
gear                 4
carb                 4
Name: 1, dtype: object

In [21]:
#3.2.index by label
#see all records/rows of mpg column/label
cars.loc[:,'mpg']
#display the records from index 0 to 6 from mpg column
cars.loc[:6,'mpg']
#see the first 7 records from mpg to qsec column
cars.loc[:6,'mpg':'qsec']
#set value 1 to column 'am'
cars['am']=1
#double records in 'am' using lambda function create 2am as new column
f=lambda x:x*2
cars['2am']=cars['am'].apply(f)
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
0,Mazda RX4,21.0,6,160.0,110,3.900000,2.620,16.46,0,1,4,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.900000,2.875,17.02,0,1,4,4,2
2,Datsun 710,22.8,4,108.0,93,3.850000,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.080000,3.215,19.44,1,1,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.150000,3.440,17.02,0,1,3,2,2
5,Valiant,18.1,6,225.0,105,2.760000,3.460,20.22,1,1,3,1,2
6,Duster 360,14.3,8,360.0,245,3.210000,3.570,15.84,0,1,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.690000,3.190,20.00,1,1,4,2,2
8,Merc 230,22.8,4,140.8,95,3.920000,3.150,22.90,1,1,4,2,2
9,Merc 280,19.2,6,167.6,123,3.920000,3.440,18.30,1,1,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.920000,3.440,18.90,1,1,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.070000,4.070,17.40,0,1,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.070000,3.730,17.60,0,1,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.070000,3.780,18.00,0,1,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.930000,5.250,17.98,0,1,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.000000,5.424,17.82,0,1,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.230000,5.345,17.42,0,1,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.080000,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.930000,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.220000,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.700000,2.465,20.01,1,1,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.760000,3.520,16.87,0,1,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.150000,3.435,17.30,0,1,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.730000,3.840,15.41,0,1,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.080000,3.845,17.05,0,1,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.080000,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.430000,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.590968,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.220000,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.620000,2.770,15.50,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.540000,3.570,14.60,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.110000,2.780,18.60,1,1,4,2,2

In [22]:
#sorting
#sort cyl column(ASC)
cars.sort_values(by='cyl')
#sort cyl column(ASC)
cars.sort_values(by='cyl',ascending=False)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
16,Chrysler Imperial,14.7,8,440.0,230,3.230000,5.345,17.42,0,1,3,4,2
30,Maserati Bora,15.0,8,301.0,335,3.540000,3.570,14.60,0,1,5,8,2
4,Hornet Sportabout,18.7,8,360.0,175,3.150000,3.440,17.02,0,1,3,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.220000,3.170,14.50,0,1,5,4,2
6,Duster 360,14.3,8,360.0,245,3.210000,3.570,15.84,0,1,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.080000,3.845,17.05,0,1,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.730000,3.840,15.41,0,1,3,4,2
22,AMC Javelin,15.2,8,304.0,150,3.150000,3.435,17.30,0,1,3,2,2
21,Dodge Challenger,15.5,8,318.0,150,2.760000,3.520,16.87,0,1,3,2,2
11,Merc 450SE,16.4,8,275.8,180,3.070000,4.070,17.40,0,1,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.070000,3.730,17.60,0,1,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.070000,3.780,18.00,0,1,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.930000,5.250,17.98,0,1,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.000000,5.424,17.82,0,1,3,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.900000,2.875,17.02,0,1,4,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.620000,2.770,15.50,0,1,5,6,2
0,Mazda RX4,21.0,6,160.0,110,3.900000,2.620,16.46,0,1,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.920000,3.440,18.90,1,1,4,4,2
9,Merc 280,19.2,6,167.6,123,3.920000,3.440,18.30,1,1,4,4,2
5,Valiant,18.1,6,225.0,105,2.760000,3.460,20.22,1,1,3,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.080000,3.215,19.44,1,1,3,1,2
17,Fiat 128,32.4,4,78.7,66,4.080000,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.930000,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.220000,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.700000,2.465,20.01,1,1,3,1,2
8,Merc 230,22.8,4,140.8,95,3.920000,3.150,22.90,1,1,4,2,2
7,Merc 240D,24.4,4,146.7,62,3.690000,3.190,20.00,1,1,4,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.080000,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.430000,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.590968,1.513,16.90,1,1,5,2,2
2,Datsun 710,22.8,4,108.0,93,3.850000,2.320,18.61,1,1,4,1,2
31,Volvo 142E,21.4,4,121.0,109,4.110000,2.780,18.60,1,1,4,2,2

In [23]:
#5.Filtering

#filter records with more than 6 cylinders
f1=cars['cyl']>6
#apply filter1 to dataframe
fnew1=cars[f1]
fnew1

#filter records with more than 6 cylinders and hp more than 300 
f2=(cars['cyl']>6)&(cars['hp']>300)
#apply filter2 to dataframe
fnew2=cars[f2]
fnew2

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
30,Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.6,0,1,5,8,2

In [26]:
#creating new .csv file with name mtcars2 with applied changes on mtcars

cars.to_csv(r"mtcars2.csv")